h1 {
	font-size: 72px;
	
}
h1 {
	text-align: center;
}

img {
	width: 100%;	
}

.responsive-video{
	position: center;
}

#toggle {
	margin-left: 50px;
}

li {
	margin-right: 100px;
}
#ss {
	margin-left: 50px;
}
.brand-logo {
	width: 60px;
}
.parallax-container {
      height: "100";
    }
#background_cycler{
	padding:0;
	margin:0;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-1
}

#background_cycler img{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	z-index:1
}

#background_cycler img.active{
	z-index:3
}


